results/
*.csv
*.xlsx
models/snapshots/FSFMv2_model_display_myDisplay_size_663x853_cycle_516_time_1637809523026.png
models/snapshots/FSFMv2_model_display_myDisplay_size_663x853_cycle_520_time_1637809528098.png
models/snapshots/FSFMv2_model_display_myDisplay_size_663x853_cycle_532_time_1637809538989.png
*.jpg
*.png
models/SAG_000_049.gaml
models/SAG_050_099.gaml
models/SAG_100_149.gaml
models/SAG_150_199.gaml
models/SAG_200_249.gaml
models/SAG_250_299.gaml
models/SAG_300_349.gaml
models/SAG_350_399.gaml
