results/
*.csv
*.xlsx
models/snapshots/FSFMv2_model_display_myDisplay_size_663x853_cycle_516_time_1637809523026.png
models/snapshots/FSFMv2_model_display_myDisplay_size_663x853_cycle_520_time_1637809528098.png
models/snapshots/FSFMv2_model_display_myDisplay_size_663x853_cycle_532_time_1637809538989.png
*.jpg
*.png
models/SAG_000_049.gaml
models/SAG_050_099.gaml
models/SAG_100_149.gaml
models/SAG_150_199.gaml
models/SAG_200_249.gaml
models/SAG_250_299.gaml
models/SAG_300_349.gaml
models/SAG_350_399.gaml
models/archive/SAG_200_249.gaml
includes/land100_frag01.asc
includes/land100_frag10.asc
includes/land100_frag30.asc
includes/land50_1fruit.asc
includes/land50_agg01.asc
includes/land50_fra01.asc
models/archive/FS_model.gaml
models/archive/FSFM_v2.gaml
models/archive/FSFM_v3.gaml
models/archive/FSFMv2_reg.gaml
models/archive/FSFMv4_agg10mff.gaml
models/archive/FSFMv4_agg10mft.gaml
models/archive/FSFMv4_agg10mtf.gaml
models/archive/FSFMv4_agg10mtt.gaml
models/archive/FSFMv4_agg10off.gaml
models/archive/FSFMv4_agg10oft.gaml
models/archive/FSFMv4_agg10otf.gaml
models/archive/FSFMv4_agg10ott.gaml
models/archive/FSFMv4_agg10rff.gaml
models/archive/FSFMv4_agg10rft.gaml
models/archive/FSFMv4_agg10rtf.gaml
models/archive/FSFMv4_agg10rtt.gaml
models/archive/FSFMv4_agg30mff.gaml
models/archive/FSFMv4_agg30mft.gaml
models/archive/FSFMv4_agg30mtf.gaml
models/archive/FSFMv4_agg30mtt.gaml
models/archive/FSFMv4_agg30off.gaml
models/archive/FSFMv4_agg30oft.gaml
models/archive/FSFMv4_agg30otf.gaml
models/archive/FSFMv4_agg30ott.gaml
models/archive/FSFMv4_agg30rff.gaml
models/archive/FSFMv4_agg30rft.gaml
models/archive/FSFMv4_agg30rtf.gaml
models/archive/FSFMv4_agg30rtt.gaml
models/archive/FSFMv4_agg60mff.gaml
models/archive/FSFMv4_agg60mft.gaml
models/archive/FSFMv4_fra10mff.gaml
models/archive/FSFMv4_fra10mft.gaml
models/archive/FSFMv4_fra10mtf.gaml
models/archive/FSFMv4_fra10mtf_init25p.gaml
models/archive/FSFMv4_fra10mtt.gaml
models/archive/FSFMv4_fra10mtt_fly_init.gaml
models/archive/FSFMv4_fra10mttf001.gaml
models/archive/FSFMv4_fra10mttf010.gaml
models/archive/FSFMv4_fra10mttf020.gaml
models/archive/FSFMv4_fra10mttf030.gaml
models/archive/FSFMv4_fra10mttf040.gaml
models/archive/FSFMv4_fra10mttf050.gaml
models/archive/FSFMv4_fra10mttf060.gaml
models/archive/FSFMv4_fra10mttf070.gaml
models/archive/FSFMv4_fra10mttf080.gaml
models/archive/FSFMv4_fra10mttf090.gaml
models/archive/FSFMv4_fra10mttf100.gaml
models/archive/FSFMv4_fra10off.gaml
models/archive/FSFMv4_fra10oft.gaml
models/archive/FSFMv4_fra10otf.gaml
models/archive/FSFMv4_fra10ott.gaml
models/archive/FSFMv4_fra10rff.gaml
models/archive/FSFMv4_fra10rft.gaml
models/archive/FSFMv4_fra10rtf.gaml
models/archive/FSFMv4_fra10rtt.gaml
models/archive/FSFMv4_fra30mff.gaml
models/archive/FSFMv4_fra30mft.gaml
models/archive/FSFMv4_fra30mtf.gaml
models/archive/FSFMv4_fra30mtftest.gaml
models/archive/FSFMv4_fra30mtt.gaml
models/archive/FSFMv4_fra30off.gaml
models/archive/FSFMv4_fra30oft.gaml
models/archive/FSFMv4_fra30otf.gaml
models/archive/FSFMv4_fra30ott.gaml
models/archive/FSFMv4_fra30rff.gaml
models/archive/FSFMv4_fra30rft.gaml
models/archive/FSFMv4_fra30rtf.gaml
models/archive/FSFMv4_fra30rtt.gaml
models/archive/FSFMv4_fra60mff.gaml
models/archive/FSFMv4_fra60mft.gaml
models/archive/FSFMv4_SAA.gaml
models/archive/SAA_000_049.gaml
models/archive/SAA_050_099.gaml
models/archive/SAA_100_149.gaml
models/archive/SAA_150_199.gaml
models/archive/SAA_200_249.gaml
models/archive/SAA_250_299.gaml
models/archive/SAA_300_349.gaml
models/archive/SAA_350_399.gaml
models/archive/SAG_000_049.gaml
models/archive/SAG_050_099.gaml
models/archive/SAG_100_149.gaml
models/archive/SAG_150_199.gaml
models/archive/SAG_250_299.gaml
models/archive/SAG_300_349.gaml
models/archive/SAG_350_399.gaml
models/archive/SAP_000_400.gaml
models/FS_model.gaml
models/FS_model.gaml
models/FS_model.gaml
